## Pandas Series

Basically, a **Series** is very similar to a **NumPy array** (in fact it is built on **top** of the **NumPy array** object). 

### Basic Difference b/w Series and NumPy array from a Series

* **Series** can have **explicitly defined indices**(labelled index) whereas **NumPy arrays** have only **implicitly defined integer incices**. 



* Therefore, it can be indexed by a **label**, instead of just an integer location. 


* **Series** is **heterogenous** in nature so it's not necessary to hold only **numeric data** for a series.

In [1]:
import numpy as np
import pandas as pd

### Creating a Series

Series can be created from a list,numpy array, or dictionary.

In [3]:
streams = ['Aeronautical','Civil','Mechanical']
strength = [40,145,164]
strgth = np.array([40,145,164])
dict1 = {'Aeronautical':40,'Civil':145,'Mechanical':164}

#### a. Using Lists

In [4]:
pd.Series(data=strength)

0     40
1    145
2    164
dtype: int64

In [5]:
pd.Series(data=strength,index=streams) #or pd.Series(strength,streams)

Aeronautical     40
Civil           145
Mechanical      164
dtype: int64

#### b. Using NumPy Arrays

In [6]:
pd.Series(strgth)

0     40
1    145
2    164
dtype: int64

In [7]:
pd.Series(strgth,streams)

Aeronautical     40
Civil           145
Mechanical      164
dtype: int64

#### c. Using Dictionary

In [8]:
pd.Series(dict1)

Aeronautical     40
Civil           145
Mechanical      164
dtype: int64

### Data in a Series
A series can contain any type of python object.

In [9]:
pd.Series(data=streams)

0    Aeronautical
1           Civil
2      Mechanical
dtype: object

In [16]:
pd.Series(["Aeronautical", 40, "Civil", 145])

0    Aeronautical
1              40
2           Civil
3             145
dtype: object

In [9]:
# Even functions
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [17]:
no_of_labs1 = pd.Series([5,8,3,9],index = ['Civil', 'Mechanical','Petroleum', 'CS'])

In [24]:
no_of_labs1

Civil         5
Mechanical    8
Petroleum     3
CS            9
dtype: int64

In [19]:
no_of_labs2= pd.Series([5,8,4,9],index = ['Civil', 'Mechanical','Aeronautical', 'CS'])

In [21]:
no_of_labs2

Civil           5
Mechanical      8
Aeronautical    4
CS              9
dtype: int64

In [22]:
no_of_labs1['Mechanical']

8

Operations are then also done based off of index:

In [23]:
no_of_labs1 + no_of_labs2

Aeronautical     NaN
CS              18.0
Civil           10.0
Mechanical      16.0
Petroleum        NaN
dtype: float64

In [13]:
result = no_of_labs1 + no_of_labs2
result

NameError: name 'no_of_labs1' is not defined

In [14]:
pd.Series([10,12]).size()

TypeError: 'int' object is not callable

### Quiz 1

Perform the following operarions on the final **result** series and observe the difference
* count() 
* shape