In [ ]:
()
3**5
+x, -x, ~x
*, /, //, %
+, -
<<, >>
&
^
|
==, !=, >, etc
not
and
or

In [17]:
(9*8) + (2//3) and (12-9) and 5*6

30

In [25]:
2 * 'iste'

'isteiste'

In [9]:
1 and 0

0

In [27]:
n = int(input("Enter first number: "))
m = int(input("Enter second number: "))
op = input("operator")

if op == '+':
    print("Addition of two numbers", int(n+m))
elif op == '-':
    print("Subtraction of two numbers", int(n-m))
elif op == '*':
    print("Multiplication of two numbers", int(n*m))
else:
    print ("Sorry, this operation is not present")

Enter first number: 2
Enter second number: 5
operator*
Multiplication of two numbers 10

In [31]:
int('iste')

ValueError: invalid literal for int() with base 10: 'iste'

In [46]:
# 1 to 10
for i in range(1,11):
    if i%2==0:
        break
    else:
        print(i**3)

1

In [52]:
for i in range(1,11):
    if i%2==0:
        continue
        print('yes')
    else:
        print(i**3)

1
27
125
343
729

In [53]:
for i in range(1,11):
    if i%2==0:
        pass
        print('yes')
    else:
        print(i**3)

1
yes
27
yes
125
yes
343
yes
729
yes

In [65]:
i = 1
while i%9!=0:
    if i%2==0:
        i += 1
        pass  
    print(i)
    i += 1

1
3
5
7
9
11
13
15
17

In [81]:
# required args
def name_func(name1):
    print(name1)
name_func('Sam')

Sam

In [79]:
#default args
def name_func(name1, name2='Tom'):
    print(name2, name1)
name_func('Sam', 'Jack')

Jack Sam

In [86]:
# keyword args
def name_func(name1, name2):
    print(name2, name1)
name_func(name2='Jack', name1='Sam')

Jack Sam

In [102]:
# variable length args
def name_func(*name2):
    for each in name2:
        if each=="Jack":
            print('USA')
        else:
            print('India')
name_func('Jim', 'Sam', 'Tom')

India
India
India

In [105]:
"Jam nickname is 'Jim'"

"Jam nickname is 'Jim'"

In [114]:
# variable length args
def name_func(**name):
    print(name)
    for key, value in name.items():
        if value=="Jack":
            print('USA')
        else:
            print('India')
name_func(name1='Jim', name2='Sam', name3='Tom')

{'name1': 'Jim', 'name2': 'Sam', 'name3': 'Tom'}
India
India
India

In [126]:
# recursive function
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

In [127]:
factorial(10)

3628800

In [152]:
f = lambda x, y: x*y if y%2==0 else x

In [153]:
f(3,3)

3

In [142]:
3

5

In [154]:
# list comprehension
[2*i for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [157]:
[round((5+i)/3,2) for i in range(20)]

[1.67,
 2.0,
 2.33,
 2.67,
 3.0,
 3.33,
 3.67,
 4.0,
 4.33,
 4.67,
 5.0,
 5.33,
 5.67,
 6.0,
 6.33,
 6.67,
 7.0,
 7.33,
 7.67,
 8.0]

In [1]:
l1 = [1,2,3,4,5,6]
value = [1,2,3,4,5,6]
pos_indices = [0,1,2,3,4,5]
neg_indices = [-6,-5,-4,-3,-2,-1]

In [4]:
l1[1:6:2]

[2, 4, 6]

In [170]:
l1[-6]

1

In [166]:
l1[-5:-2]

[2, 3, 4]

In [167]:
l1[2:6]

[3, 4, 5, 6]

In [165]:
l1[::-1]

[6, 5, 4, 3, 2, 1]

In [5]:
str1 = 'ISTE'

In [179]:
str1[::-1]

'ETSI'

In [182]:
str1.islower()

False

In [183]:
str1.isupper()

True

In [184]:
l1

[1, 2, 3, 4, 5, 6]

In [185]:
l1.append(7)

In [186]:
l1

[1, 2, 3, 4, 5, 6, 7]

In [187]:
l1.remove(5)

In [188]:
l1

[1, 2, 3, 4, 6, 7]

In [189]:
l1.pop(2)

3

In [190]:
l1

[1, 2, 4, 6, 7]

In [192]:
l1.insert(2, 3)

In [193]:
l1

[1, 2, 3, 4, 6, 7]

In [194]:
l1.index(6)

4

In [195]:
l1.reverse()

In [196]:
l1

[7, 6, 4, 3, 2, 1]

In [197]:
l2 = l1

In [198]:
l2, l1

([7, 6, 4, 3, 2, 1], [7, 6, 4, 3, 2, 1])

In [199]:
l1[4] = 8

In [200]:
l2

[7, 6, 4, 3, 8, 1]

In [201]:
l2 = l1.copy()

In [204]:
l1[4] = 10

In [205]:
l2

[7, 6, 4, 3, 8, 1]

In [7]:
str1.count('I am a teacher')

1

In [8]:
str1

'ISTE'

In [18]:
for i in range(1,10):
    s = 0
    if i%2==0:
        for j in range(i):
            s+=j
        print(s)
    else:
        if i > 8:
            break
        print(i)

1
1
3
6
5
15
7
28

In [15]:
1%2

1

In [26]:
import test
test.get_sum(2,5)

7

In [24]:
from test import get_diff

In [25]:
get_diff(2,4)

-2

In [27]:
l1 = [1,3,5]
l2 = [2,4,6]

In [28]:
l1.extend(l2)

In [29]:
l1

[1, 3, 5, 2, 4, 6]

In [44]:
a = tuple([1,3,4,2,1,3,1,1])

In [42]:
a

(1, 3, 4)

In [38]:
a[2]

'a'

In [37]:
a[1] = 4

TypeError: 'tuple' object does not support item assignment

In [8]:
a={1,2,3,4}

In [9]:
type(a)

set

In [35]:
a = tuple([2,4,'a'])

In [50]:
a

(1, 3, 4, 2, 1, 3, 1, 1)

In [45]:
a.count(1)

4

In [49]:
a.index(1, 2)

4

In [51]:
set(a)

{1, 2, 3, 4}

In [72]:
set_a = set([1,2,3,4,5,1,1,3,2,4,0])

In [59]:
# we cant access values using indices from set
set_a[0]

TypeError: 'set' object is not subscriptable

In [63]:
for each in enumerate(set_a):
    print(each)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [64]:
min(set_a)

1

In [65]:
max(set_a)

5

In [66]:
len(set_a)

5

In [67]:
sum(set_a)

15

In [75]:
set_a

{0, 1, 2, 3, 4, 5}

In [73]:
any(set_a)

True

In [74]:
all(set_a)

False

In [77]:
set_b = set([1,3,4,5,6,8,9])

In [78]:
set_b

{1, 3, 4, 5, 6, 8, 9}

In [79]:
set_a.union(set_b)

{0, 1, 2, 3, 4, 5, 6, 8, 9}

In [80]:
set_a.intersection(set_b)

{1, 3, 4, 5}

In [83]:
for i in set_a:
    print(i)

0
1
2
3
4
5

In [82]:
set_a

{0, 1, 2, 3, 4, 5}

In [ ]:
# Write a program to check 
# if all the elements are true of both the sets then do intersection or else union

In [84]:
set1= set([1,0,2,4,6])
set2= set([1,2,3,5,7,8])

In [87]:
if all(set1) and all(set2):
    print(set1.intersection(set2))
else:
    print(set1.union(set2))

{0, 1, 2, 3, 4, 5, 6, 7, 8}

In [86]:
set1

{0, 1, 2, 4, 6}

In [89]:
d1 = {'a':1, 'b':2}

In [92]:
d1

{'a': 1, 'b': 2}

In [91]:
d1['b']

2

In [93]:
d1.keys()

dict_keys(['a', 'b'])

In [94]:
d1.values()

dict_values([1, 2])

In [95]:
d1.items()

dict_items([('a', 1), ('b', 2)])

In [96]:
d1 = {'Tom':[26, 'New York','USA'], 'b':2}

In [98]:
d1['Tom'][0]

26

In [117]:
d1 = {'city':['New Delhi', 'New York','Pune', 'London'], 'country':['USA', 'India']}

In [118]:
d1

{'city': ['New Delhi', 'New York', 'Pune', 'London'],
 'country': ['USA', 'India']}

In [101]:
{'London':'UK', 'Paris':'France', 'Birmingham':'UK'}

{'London': 'UK', 'Paris': 'France', 'Birmingham': 'UK'}

In [123]:
{'London':'UK', 'Paris':'France', 'London':'USA'}

{'London': 'USA', 'Paris': 'France'}

In [105]:
d1.pop('country')

['USA', 'India']

In [106]:
d1

{'city': ['New Delhi', 'New York', 'Pune', 'London']}

In [115]:
d1.popitem()

('city', ['New Delhi', 'New York', 'Pune', 'London'])

In [122]:
d1.popitem()

KeyError: 'popitem(): dictionary is empty'

In [119]:
d1.pop('xyz')

KeyError: 'xyz'

In [170]:
f = open("test.txt")
print(f.read())
f.close()

Hi, This is python session

In [191]:
f = open("test.txt", 'a')
f.write('\nWe are learning file handling')
f.close()

In [169]:
f = open("test.txt", 'w')
f.write('Hi, This is python session')
f.close()

In [153]:
f = open("test.txt")
print(f.read())
f.close()

Hi, This is python session

In [155]:
with open("test.txt",'w',encoding='utf-8') as f:
   f.write("my first file\n")
   f.write("This file\n\n")
   f.write("contains three lines\n")

In [157]:
with open("test.txt",'r',encoding='utf-8') as f:
   print(f.read())

my first file
This file

contains three lines

In [158]:
f = open("test.txt")
print(f.read())

my first file
This file

contains three lines

In [177]:
f = open("test.txt")
test_text = f.read()
f.close()

In [178]:
for each in test_text.split(' '):
    print(each)

Hi,
This
is
python
session

In [212]:
f = open("test.txt")

In [193]:
f.readline()

'Hi, This is python session\n'

In [194]:
f.readline()

'We are learning file handling'

In [213]:
f.readlines()

['Hi, This is python session\n', 'We are learning file handling']

In [214]:
f.close()

In [228]:
def get_sum(a,b):
    try:
        return a+b
    except Exception as e:
        print(e)

In [223]:
def get_sum(a,b):
    return a+b

In [226]:
get_sum(2,'b')
print('function executed')

unsupported operand type(s) for +: 'int' and 'str'
function executed

In [232]:
l1

[1, 3, 5, 2, 4, 6]

In [233]:
l1[6]

IndexError: list index out of range

In [11]:
class Error(Exception):
    """Base class for other exceptions"""
    pass
class ValueTooLargeError(Error):
    """Raised when the input value is too large"""
    pass

In [12]:
def get_sum(a,b):
    try:
        if b>a:
            return a+b
        else:
            raise ValueTooLargeError
    except ValueTooLargeError:
        print(f"value of b={b} is not greater then a={a}")
    except Exception as e:
        print(e)
    finally:
        print('function executed')

In [14]:
get_sum(8,6)

value of b=6 is not greater then a=8
function executed

In [17]:
day = int(input())
stock = input()

9
1 5 2 4 7 6 3 8 9

In [19]:
l1 = []
for i in stock.split(' '):
    l1.append(int(i))

In [20]:
l1

[1, 5, 2, 4, 7, 6, 3, 8, 9]

In [15]:
#Get Current Date and Time
import datetime

In [21]:
datetime_object = datetime.datetime.now()
print(datetime_object)

2020-12-30 09:44:41.774060

In [22]:
#Get Current Date
date_object = datetime.date.today()
print(date_object)

2020-12-30

In [23]:
d = datetime.date(2020, 12, 13)
print(d)

2020-12-13

In [24]:
from datetime import date
#Get current date
today = date.today()
print("Current date =", today)

Current date = 2020-12-30

In [29]:
#Get date from a timestamp
timestamp = date.fromtimestamp(1326244364)
print("Date =", timestamp)

Date = 2012-01-11

In [31]:
%%time
from datetime import datetime

# current date and time
now = datetime.now()

timestamp = datetime.timestamp(now)
print("timestamp =", timestamp)

timestamp = 1609302157.662705
CPU times: user 343 µs, sys: 144 µs, total: 487 µs
Wall time: 380 µs

In [32]:
#Print today's year, month and day
today = date.today() 

print("Current year:", today.year)
print("Current month:", today.month)
print("Current day:", today.day)

Current year: 2020
Current month: 12
Current day: 30

In [64]:
class animal():
    def __init__(self, legs, voice, eyes):
        self.legs=legs
        self.eyes=eyes
        self.voice=voice
    
    def sum_eyes_legs(self):
         return self.eyes+self.legs

In [65]:
lion= animal(4, 'roar', 2)

In [80]:
lion.legs = 3

In [81]:
lion.legs

3

In [66]:
lion.sum_eyes_legs()

6

In [ ]:
animal

dog()
lion.voice()
bird.eyes

In [ ]:
# Attribute
# methods
# Functions

In [67]:
from datetime import time

In [70]:
a = time(10, 13, 45)

In [73]:
a.microsecond

0

In [75]:
a = datetime(2017, 11, 28, 23, 55, 59, 342380)

In [82]:
a.year

2017

In [95]:
# Create a product class- cost price, category, company, color
# Methods- selling price with 10% profit

class product():
    
    def __init__(self, price, category, company,color):
        self.price=price
        self.category=category
        self.company=company
        self.color=color
        
    def selling_price(self):
         return self.price*1.1

In [96]:
iphone = product(30000, 'mobile', 'Apple', 'black')

In [98]:
iphone.selling_price()

33000.0

In [99]:
from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t3 = 201 days, 0:00:00

In [100]:
t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

t6 = -333 days, 1:14:20

In [101]:
print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

In [102]:
from datetime import timedelta

t1 = timedelta(weeks = 2, days = 5, hours = 1, seconds = 33)
t2 = timedelta(days = 4, hours = 11, minutes = 4, seconds = 54)
t3 = t1 - t2

In [103]:
t3

datetime.timedelta(days=14, seconds=50139)

In [104]:
t1 = timedelta(seconds = 33)
t2 = timedelta(seconds = 54)
t3 = t1 - t2

In [105]:
t3

datetime.timedelta(days=-1, seconds=86379)

In [106]:
t = timedelta(days = 5, hours = 1, seconds = 33, microseconds = 233423)
print("total seconds =", t.total_seconds())

total seconds = 435633.233423

In [107]:
t

datetime.timedelta(days=5, seconds=3633, microseconds=233423)

In [111]:
#Format date using strftime()
from datetime import datetime
now = datetime.now()# current date and time

In [112]:
now

datetime.datetime(2020, 12, 30, 10, 35, 23, 243546)

In [113]:
t = now.strftime("%H:%M:%S")
print("time:", t)

time: 10:35:23

In [114]:
s1 = now.strftime("%m/%d/%Y, %H:%M:%S")
# mm/dd/YY H:M:S format
print("s1:", s1)

s1: 12/30/2020, 10:35:23

In [115]:
s2 = now.strftime("%d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
print("s2:", s2)

s2: 30/12/2020, 10:35:23

In [116]:
from datetime import datetime

date_string = "21 June, 2018"
print("date_string =", date_string)

date_string = 21 June, 2018

In [117]:
date_object = datetime.strptime(date_string, "%d %B, %Y")
print("date_object =", date_object)

date_object = 2018-06-21 00:00:00

In [127]:
str1 = 'a2b3c4'
str2 = ''
for i in range(0,len(str1),2):
    str2+=str1[i]*int(str1[i+1])

In [128]:
str2

'aabbbcccc'

In [129]:
# pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /anaconda3/lib/python3.7/site-packages (8.0.22)
Requirement already satisfied: protobuf>=3.0.0 in /anaconda3/lib/python3.7/site-packages (from mysql-connector-python) (3.10.0)
Requirement already satisfied: setuptools in /anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (49.2.0.post20200714)
Requirement already satisfied: six>=1.9 in /anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [139]:
#Create Connection
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345678"
)

In [140]:
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x10c5c61d0>

In [141]:
mycursor = mydb.cursor(buffered=True)

In [142]:
mycursor.execute("CREATE DATABASE testdb") #creating database

In [143]:
mycursor.execute("SHOW DATABASES") #query to list database

In [144]:
for x in mycursor:
  print(x) #print database

('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('testdb',)

In [151]:
#Connect to database
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="12345678",
  database="testdb"
)

In [152]:
mycursor = mydb.cursor(buffered=True)

In [155]:
mycursor.execute("SHOW TABLES") #check table
for x in mycursor:
  print(x)

('customers',)

In [160]:
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [163]:
mycursor.execute("DROP TABLE customers") #drop table

In [167]:
sql = "DROP TABLE IF EXISTS customers"
mycursor.execute(sql)

In [168]:
mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

#if table exist than use alter table
# mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

#insert record
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [169]:
#insert multiple records
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [170]:
mycursor.execute("SELECT * FROM customers") #selecting all records

myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(1, 'John', 'Highway 21')
(2, 'Peter', 'Lowstreet 4')
(3, 'Amy', 'Apple st 652')
(4, 'Hannah', 'Mountain 21')
(5, 'Michael', 'Valley 345')
(6, 'Sandy', 'Ocean blvd 2')
(7, 'Betty', 'Green Grass 1')
(8, 'Richard', 'Sky st 331')
(9, 'Susan', 'One way 98')
(10, 'Vicky', 'Yellow Garden 2')
(11, 'Ben', 'Park Lane 38')
(12, 'William', 'Central st 954')
(13, 'Chuck', 'Main Road 989')
(14, 'Viola', 'Sideway 1633')

In [171]:
mycursor.execute("SELECT name, address FROM customers") #selecting columns

myresult = mycursor.fetchall()
for x in myresult:
  print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

In [172]:
mycursor.execute("SELECT * FROM customers") #only one row is returned

myresult = mycursor.fetchone()
print(myresult)

(1, 'John', 'Highway 21')

In [ ]:
sql = "SELECT * FROM customers WHERE address ='Park Lane 38’” #exact match

mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

In [175]:
sql = "SELECT * FROM customers WHERE address LIKE '%way%'" #wildcard character % used for startswith, endswith or include

mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(1, 'John', 'Highway 21')
(9, 'Susan', 'One way 98')
(14, 'Viola', 'Sideway 1633')

In [176]:
sql = "SELECT * FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)
myresult = mycursor.fetchall()
for x in myresult:
  print(x)

(10, 'Vicky', 'Yellow Garden 2')