# Salaries Exercise 

Refer to the **Salaries.xlsx** file and perform the following tasks.

**Q1. Read the file as a dataframe called sal.**

**Q2. Check the head of the DataFrame.**

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Q3. Use the .info() method to find out how many entries there are.**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1000 non-null   int64
 1   EmployeeName      1000 non-null   object
 2   JobTitle          1000 non-null   object
 3   BasePay           1000 non-null   float64
 4   OvertimePay       1000 non-null   float64
 5   OtherPay          1000 non-null   float64
 6   Benefits          0 non-null      float64
 7   TotalPay          1000 non-null   float64
 8   TotalPayBenefits  1000 non-null   float64
 9   Year              1000 non-null   int64
 10  Notes             0 non-null      float64
 11  Agency            1000 non-null   object
 12  Status            0 non-null      float64
dtypes: float64(8), int64(2), object(3)
memory usage: 101.7+ KB

**Q4. What is the average BasePay ?**

145663.9982

**Q5. What is the highest amount of OvertimePay in the dataset ?**

245131.88

**Q6. What is the job title of  JOSEPH DRISCOLL ?**

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**Q7. How much does JOSEPH DRISCOLL make (including benefits)?**

24    270324.91
Name: TotalPay, dtype: float64

**Q8. How many unique job titles are there?**

113

**Q9. What are the top 5 most common jobs?**

FIREFIGHTER                         133
LIEUTENANT, FIRE DEPARTMENT          62
FIRE FIGHTER PARAMEDIC               43
CAPTAIN, FIRE SUPPRESSION            42
SERGEANT III (POLICE DEPARTMENT)     41
Name: JobTitle, dtype: int64