In [28]:
import numpy as np

## Exercise 1

#### Write code to create a 4x3 matrix with values ranging from 2 to 13.

In [29]:
np.arange(2,14).reshape(4,3)

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [ 8,  9, 10],
       [11, 12, 13]])

## Exercise 2

#### Write code to replace the odd numbers by -1 in the following array.

In [30]:
ar = np.arange(10)
ar

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [31]:
np.where(ar%2==1, -1, ar)

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

## Exercise 3

#### Perform the following operations on an array of mobile phones prices 6999, 7500, 11999, 27899, 14999, 9999.

##### 1. Create a 1d-array of mobile phones prices

In [32]:
prices = np.array([ 6999,  7500, 11999, 27899, 14999,  9999])
prices

array([ 6999,  7500, 11999, 27899, 14999,  9999])

#### 2. Convert this array to float type

In [33]:
prices = prices.astype(np.float)
prices

array([ 6999.,  7500., 11999., 27899., 14999.,  9999.])

#### 3. Append a new mobile having price of 13999 Rs. to this array

In [34]:
prices = np.append(prices, [13999])
prices

array([ 6999.,  7500., 11999., 27899., 14999.,  9999., 13999.])

#### 4. Reverse this array of mobile phones prices

In [35]:
prices[::-1]

array([13999.,  9999., 14999., 27899., 11999.,  7500.,  6999.])

#### 5. Apply GST of 18% on mobile phones prices and update this array.

In [36]:
prices = prices*1.18
prices

array([ 8258.82,  8850.  , 14158.82, 32920.82, 17698.82, 11798.82,
       16518.82])

#### 6. Sort the array in descending order of price

In [37]:
prices[::-1].sort()
prices

array([32920.82, 17698.82, 16518.82, 14158.82, 11798.82,  8850.  ,
        8258.82])

#### 7. What is the average mobile phone price

In [38]:
prices.mean()

15743.560000000001

#### 8. What is the difference b/w maximum and minimum price

In [39]:
prices.max() - prices.min()

24662.0